header{
    width: 100%;
    height: 70px;
    background: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.logo a{
    color: snow;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 300;
    padding-left: 5%;
}

.logo a:hover{
    cursor: pointer;
    color: #f15930;
}

.link{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.link a{
    color: snow;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
}

.link a:hover{
    cursor: pointer;
    color: #f15930;
}

.dropdown{
    display: inline-block;
}

.dropdown-content{
    width: 250px;
    background: #212121;
    padding: 20px;
    border-radius: 20px;
    color: snow;
    font-size: 0.9em;
    font-weight: 300;
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.userName{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: snow;
    font-weight: 300;
    font-size: 1.2em;
}

.userRole{
    font-size: 0.7em;
}

.userPhoto{
    width: 150px;
    height: 150px;
    margin-left: 35%;
    background: snow;
    border-radius: 50%;
}