table{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    border-spacing: 0;
}

h1{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    color: snow;
    font-size: 3em;
    font-weight: 300;
}

th{
    color: snow;
    font-size: 1.4em;
    font-weight: 300;
    border-bottom: 2px solid snow;
    padding: 20px;
}

td{
    color: snow;
    font-size: 1em;
    font-weight: 300;
    padding: 20px;
}

tr:hover td{
    border-bottom: 2px solid snow;
}