button{
    border: none;
    background: #f15930;
    padding: 20px;
    border-radius: 20px;
    color: snow;
    font-weight: 300;
    font-size: 1.2em;
}

button:hover{
    cursor: pointer;
    background: #fcc50c;
}

.overlay{
    backdrop-filter: blur(8px) saturate(100%) contrast(100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

form{
    width: 300px;
    background: snow;
    color: #212121;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: #212121;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 5px;
}

.close{
    position: absolute;
    margin-top: -6%;
    right: 20px;
}

.close a{
    color: #212121;
    font-size: 2em;
    font-weight: 300;
    text-decoration: none;
}

.close a:hover{
    cursor: pointer;
}

form h2{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #212121;
    text-align: center;
}

.signup{
    padding-left: 10px;
    color: #212121;
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 1%;
}

.signup a{
    text-decoration: none;
}

.signup a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.logIn{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.register{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.registerWallet{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.acceptRiderLicenses{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addRiderLicence{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addCategoryRiderLicence{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.resetInfo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addInsurence{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addDps{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.removeDps{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addRiderLicenceToBase{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addFines{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addDtp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.info {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.sendETH{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.withdrawETH{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.acceptNewCategory{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.resetRole{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.addCar{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.payFine{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.infoInsurence{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}