{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
    <table>
        <h1>
            Список вод.удост для добавления в базу
        </h1>
        <tr>
            <th>
                ID
            </th>
            <th>
                Wallet
            </th>
            <th>
                Номер
            </th>
            <th>
                Срок действия
            </th>
            <th>
                A
            </th>
            <th>
                B
            </th>
            <th>
                C
            </th>
        </tr>
        {% if list_rider_license_dps %}
            {% for rider_licence_dps in list_rider_license_dps %}
                <tr>
                    <td>{{ rider_licence_dps[0] }}</td>
                    <td>{{ rider_licence_dps[2] }}</td>
                    <td>{{ rider_licence_dps[1][0] }}</td>
                    <td>{{ datetime.strftime(datetime.fromtimestamp(rider_licence_dps[1][1]), '%d.%m.%Y') }}</td>
                    {% if rider_licence_dps[1][2] %}
                        <td>Имеется</td>
                    {% else %}
                        <td>Не имеется</td>
                    {% endif %}
                    {% if rider_licence_dps[1][3] %}
                        <td>Имеется</td>
                    {% else %}
                        <td>Не имеется</td>
                    {% endif %}
                    {% if rider_licence_dps[1][4] %}
                        <td>Имеется</td>
                    {% else %}
                        <td>Не имеется</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}