{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
    <table>
        <h1>
            Список ДПТ
        </h1>
        <tr>
            <th>
                ID
            </th>
            <th>
                ID ТС
            </th>
            <th>
                Дата
            </th>
        </tr>
        {% if list_dtp %}
            {% for dtp in list_dtp %}
                <tr>
                    <td>{{ dtp[0] }}</td>
                    <td>{{ dtp[1] }}</td>
                    <td>{{ datetime.strftime(datetime.fromtimestamp(dtp[2]), '%d.%m.%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}