{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
    <table>
        <h1>
            Категории ТС вод.удовст для добавления
        </h1>
        <tr>
            <th>
                ID
            </th>
            <th>
                Wallet
            </th>
            <th>
                Котегории
            </th>
        </tr>
        {% if list_category %}
            {% for category in list_category %}
                <tr>
                    <td>category[0]</td>
                    <td>category[1]</td>
                    <td>{% if category[2] %} A {% endif%}{% if category[3] %} B {% endif%}{% if category[4] %} C {% endif%} </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}