{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
    <table>
        <h1>
            Список ТС
        </h1>
        <tr>
            <th>
                ID
            </th>
            <th>
                Модель
            </th>
            <th>
                Категория
            </th>
            <th>
                Рыночная стоимсоть
            </th>
            <th>
                Стоимость страховки
            </th>
            <th>
                Время использования (лет)
            </th>
        </tr>
        {% if list_cars %}
            {% for car in list_cars %}
                <tr>
                    <td>{{ car[0] }}</td>
                    <td>{{ car[1] }}</td>
                    {% if car[2] == 0 %}
                        <td>A</td>
                    {% endif %}
                    {% if car[2] == 1 %}
                        <td>B</td>
                    {% endif %}
                    {% if car[2] == 2 %}
                        <td>C</td>
                    {% endif %}
                    <td>{{ car[3] }}</td>
                    <td>{{ car[4] }} Wei</td>
                    <td>{{ car[5] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}