{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
{% endblock %}

{% block content %}
    <table>
        <h1>
            Список страховок
        </h1>
        <tr>
            <th>
                ID
            </th>
            <th>
                ID машины
            </th>
            <th>
                Дата окочания действия
            </th>
            <th>
                Стоимость
            </th>
        </tr>
        {% if list_insurence %}
            {% for insurence in list_insurence %}
                <tr>
                    <td>{{ insurence[0] }}</td>
                    <td>{{ insurence[1] }}</td>
                    <td>{{ datetime.strftime(datetime.fromtimestamp(insurence[2]), '%d.%m.%Y %H:%M:%S') }}</td>
                    <td>{{ insurence[3] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}