<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='window.css') }}">
    {% block style %}
    {% endblock %}
</head>
<div class="logIn">
    <div class="overlay"></div>
    <form action="/user/login/" method="post">
        <h2>LogIn</h2>

        <input type="text" name="wallet" placeholder="Кошелёк" minlength="42" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Войти</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="signup">У вас нет аккаунта?<a onclick="windowShow(document.querySelector('.register'))">&#160;Создать</a></div>
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="register">
    <div class="overlay"></div>
    <form action="/user/register/" method="post">
        <h2>Registration</h2>

        <input type="text" name="name" placeholder="Имя" minlength="3" maxlength="64" required>
        <input type="text" name="surname" placeholder="Фамилия" minlength="3" maxlength="64" required>
        <input type="text" name="middlename" placeholder="Отчество" minlength="3" maxlength="64" required>
        <input type="text" name="wallet" placeholder="Кошелёк" minlength="42" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Создать</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="signup">У вас нет кошелька?<a onclick="windowShow(document.querySelector('.registerWallet'))">&#160;Создать</a></div>
        <div class="signup">У вас есть аккаунт?<a onclick="windowShow(document.querySelector('.logIn'))">&#160;Войти</a></div>
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="registerWallet">
    <div class="overlay"></div>
    <form action="/user/register/wallet/" method="post">
        <h2>Registration Wallet</h2>

        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Создать</button>
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addRiderLicence">
    <div class="overlay"></div>
    <form action="/rider_licence/add/" method="post"    >
        <h2>Добавить вод.удост</h2>

        <input type="text" name="number" placeholder="Номер" minlength="3" maxlength="64" required>
        <input type="text" name="experience" placeholder="Опыт вождения с какого года" minlength="4" maxlength="4" required>
        <div><input type="checkbox" name="catA">&#160;Категория A</div>
        <div><input type="checkbox" name="catB">&#160;Категория B</div>
        <div><input type="checkbox" name="catC">&#160;Категория C</div>
        Срок действия:
        <input type="date" name="date" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Добавить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addCategoryRiderLicence">
    <div class="overlay"></div>
    <form action="/rider_licence/category/add/" method="post">
        <h2>Добавить категорию вод.удост</h2>

        <div><input type="checkbox" name="catA">&#160;Категория A</div>
        <div><input type="checkbox" name="catB">&#160;Категория B</div>
        <div><input type="checkbox" name="catC">&#160;Категория C</div>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Добавить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="resetInfo">
    <div class="overlay"></div>
    <form action="/user/change/info/" method="post">
        <h2>Изменить информацию</h2>

        <input type="text" name="name" placeholder="Имя" minlength="3" maxlength="64" required>
        <input type="text" name="surname" placeholder="Фамилия" minlength="3" maxlength="64" required>
        <input type="text" name="middlename" placeholder="Отчество" minlength="3" maxlength="64" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Изменить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addInsurence">
    <div class="overlay"></div>
    <form action="/insurence/add/" method="post">
        <h2>Оформление страховки</h2>

        <input type="text" name="car_id" placeholder="ID ТС" minlength="1" maxlength="64" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Оформить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="infoInsurence">
    <div class="overlay"></div>
    <form action="/insurence/info/" method="post">
        <h2>Стоимость страховки</h2>

        <input type="text" name="car_id" placeholder="ID ТС" minlength="1" maxlength="64" required>
        <button type="submit">Узнать</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addDps">
    <div class="overlay"></div>
    <form action="/dps/add/" method="post">
        <h2>Добавить сотрудника ДПС</h2>

        <input type="text" name="wallet_user" placeholder="Кошелёк сотрудника" minlength="42" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Добавить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="removeDps">
    <div class="overlay"></div>
    <form action="/dps/remove/" method="post">
        <h2>Убрать сотрудника ДПС</h2>

        <input type="text" name="wallet_user" placeholder="Кошелёк сотрудника" minlength="42" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Убрать</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addRiderLicenceToBase">
    <div class="overlay"></div>
    <form action="/rider_licence/add/base/" method="post">
        <h2>Добавить вод.удост в базу</h2>

        
        <div><input type="checkbox" name="catA">&#160;Категория A</div>
        <div><input type="checkbox" name="catB">&#160;Категория B</div>
        <div><input type="checkbox" name="catC">&#160;Категория С</div>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Добавить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addFines">
    <div class="overlay"></div>
    <form action="/fines/add/" method="post">
        <h2>Выдать штраф</h2>

        <input type="text" name="number" placeholder="Номер вод.удост" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Выдать</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addDtp">
    <div class="overlay"></div>
    <form action="/dtp/add/" method="post">
        <h2>Оформить ДТП</h2>

        <input type="text" name="number" placeholder="Номер вод.удост" minlength="1" maxlength="42" required>
        <input type="text" name="id_car" placeholder='Номер ТС' minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Оформить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="acceptRiderLicenses">
    <div class="overlay"></div>
    <form action="/rider_licence/accept/" method="post">
        <h2>Принять новое вод.удост </h2>

        <input type="text" name="number" placeholder="Номер вод.удост" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Принять</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="acceptNewCategory">
    <div class="overlay"></div>
    <form action="/category/accept/" method="post">
        <h2>Принять новую категорию вод.удост </h2>

        <input type="text" name="id_category" placeholder="ID запроса" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Принять</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="sendETH">
    <div class="overlay"></div>
    <form action="/eth/send/" method="post">
        <h2>Перевести деньги на контракт</h2>

        <input type="text" name="value" placeholder="Размер перевода" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Перевод</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="withdrawETH">
    <div class="overlay"></div>
    <form action="/eth/withdraw/" method="post">
        <h2>Снять деньги с контракта</h2>

        <input type="text" name="value" placeholder="Размер перевода" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Снять</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="info">
    <div class="overlay"></div>
    <form style="width: 400px;">
        <h2>Information</h2>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color: #212121; font-size: 1em;padding-left: 5px; display: flex; justify-content: center">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="resetRole">
    <div class="overlay"></div>
    <form action="/reset/role/" method="post">
        <h2>Смена роли</h2>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Сменить</button>

        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="addCar">
    <div class="overlay"></div>
    <form action="/car/add/" method="post">
        <h2>Добавить ТС</h2>

        <input type="text" name="model" placeholder="Модель" minlength="1" maxlength="42" required>
        <input type="text" name="category" placeholder="Категория (A, B, C)" minlength="1" maxlength="1" required>
        <input type="text" name="price" placeholder="Рыночная стоимость" minlength="1" maxlength="42" required>
        <input type="text" name="year" placeholder="Сколько лет ТС" minlength="1" maxlength="42" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Добавить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<div class="payFine">
    <div class="overlay"></div>
    <form action="/pay/fine/" method="post">
        <h2>Оплата штрафа</h2>

        <input type="text" name="id_fine" placeholder="ID штрафа" minlength="1" maxlength="50" required>
        <input type="password" name="private_key" placeholder="Приватный ключ" minlength="3" maxlength="64" required>
        <button type="submit">Оплатить</button>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <span style="color:red; font-size: 1em;padding-left: 5px">{{ message[0] }}</span>
            {% endif %}
        {% endwith %}
        <div class="close"><a href="{{ lastPage }}">x</a></div>
    </form>
</div>
<header>
    <div class="logo">
        <a href="/">SRT</a>
    </div>
    <div class="link">
        <div class="dropdown">
            <a>Личный кабинет</a>
            {% if info %}
                <div class="dropdown-content" style="width: 470px">
                {% if role == 1 %}
                    <div class="userName">{{ info['fio'] }} <div class="userRole" style="color:green;">Водитель</div> </div> <br>
                    <div class="userPhoto"></div> <br>
                    Кошелёк - {{ info['wallet'] }} <br>
                    Баланс - {{ info['balance'] }} Wei<br>
                    {% if info['driver_licence'][0] %} <br>
                        Вод.удост - {{ info['driver_licence'][0] }} | {{ datetime.strftime(datetime.fromtimestamp(info['driver_licence'][1]), '%d.%m.%Y') }} | {% if info['driver_licence'][2] %} A {% endif %} {% if info['driver_licence'][3] %} B {% endif %} {% if info['driver_licence'][4] %} C {% endif %}<br>
                    {% else %}
                        Вод.удост - <a onclick="windowShow(document.querySelector('.addRiderLicence'))">Добавить вод.удост</a> <br>
                    {% endif %}
                    Стаж с - {{ info['exp'] }}  <br>
                    Кол-во ДТП - {{ info['dtp_value'] }} <br>
                    Кол-во неоплаченных штрафов - {{ info['not_fines'] }} <br><br><br>
                    <a onclick="windowShow(document.querySelector('.addRiderLicenceToBase'))">Добавить новое вод.удост в базу</a> <br>
                    <a onclick="windowShow(document.querySelector('.addCategoryRiderLicence'))">Добавить категорию вод.удост</a> <br>
                    <a onclick="windowShow(document.querySelector('.resetInfo'))">Изменить информацию</a> <br>
                    <a onclick="windowShow(document.querySelector('.addCar'))">Добавить новое ТС</a> <br>
                    <a onclick="windowShow(document.querySelector('.payFine'))">Оплатить штраф</a> <br>
                    <a href="/list/fines/">Список штрафов</a> <br>
                    <a href="/list/dtp/">Список ДТП</a> <br>
                    <a href="/list/car/">Список ТС</a> <br>

                {% elif role == 2 %}
                    <div class="userName">{{ info['fio'] }} <div class="userRole" style="color: gold">ДПС</div> </div> <br>
                    <div class="userPhoto"></div> <br>
                    Кошелёк - {{ info['wallet'] }} <br>
                    <a onclick="windowShow(document.querySelector('.resetInfo'))">Изменить информацию</a> <br>

                {% elif role == 3 %}
                    <div class="userName">{{ info['fio'] }} <div class="userRole" style="color: red">Админ</div> </div> <br>
                    <div class="userPhoto"></div> <br>
                    Кошелёк - {{ info['wallet'] }} <br>
                    Баланс - {{ info['balance'] }} Wei<br>
                    <a onclick="windowShow(document.querySelector('.resetInfo'))">Изменить информацию</a> <br>

                {% elif role == 4 %}
                    <div class="userName"> Банк <div class="userRole" style="color:deepskyblue;"> Банк </div> </div> <br>
                    <div class="userPhoto"></div> <br>
                    Кошелёк - {{ info['wallet'] }} <br>
                    Баланс - {{ info['balance'] }} Wei<br>
                    Баланс контракта - {{ info['balance_contract'] }} Wei

                {% elif role == 5 %}
                    <div class="userName"> Cтраховая компания <div class="userRole" style="color: cornflowerblue"> Страховая компания </div> </div> <br>
                    <div class="userPhoto"></div> <br>
                    Кошелёк - {{ info['wallet'] }} <br>
                    Баланс - {{ info['balance'] }} Wei<br>
                    Баланс контракта - {{ info['balance_contract'] }} Wei<br>
                    Долг - {{ info['debt'] }} Wei
                {% endif %}
            </div>
            {% endif %}
        </div>

        {% if role %}
            {% if role == 1 %}
                <div class="dropdown">
            <a>Страховая компания</a>
            <div class="dropdown-content">
                <a onclick="windowShow(document.querySelector('.addInsurence'))">Купить страховку</a> <br>
                <a onclick="windowShow(document.querySelector('.infoInsurence'))">Узнать стоимость страховки</a> <br>
                <a href="/list/insurence/">Мои страховки</a><br>
            </div>
        </div>
            {% elif role == 2 %}
            <div class="dropdown">
                <a>ДПС - Панель</a>
                <div class="dropdown-content" style="width: 330px">
                    <a href="/list/rider_licence_dps/">Список вод.удост для добавления</a><br>
                    <a href="/list/category_dps/">Список категорий ТС для добавления</a><br>
                    <a onclick="windowShow(document.querySelector('.addFines'))">Выдать штраф</a><br>
                    <a onclick="windowShow(document.querySelector('.addDtp'))">Оформить ДТП</a><br>
                    <a onclick="windowShow(document.querySelector('.acceptRiderLicenses'))">Принять вод.удост</a><br>
                    <a onclick="windowShow(document.querySelector('.acceptNewCategory'))">Принять новую категорию</a><br>
                </div>
            </div>
            {% elif role == 3 %}
                <div class="dropdown">
                <a>Админ - Панель</a>
                <div class="dropdown-content">
                    <a onclick="windowShow(document.querySelector('.addDps'))">Добавить сотрудника ДПС</a>
                    <a onclick="windowShow(document.querySelector('.removeDps'))">Убрать сотрудника ДПС</a>
                </div>
            </div>

            {% elif role == 4 %}
                <div class="dropdown">
                <a>Банк - Панель</a>
                <div class="dropdown-content">
                    <a onclick="windowShow(document.querySelector('.sendETH'))">Перевести ETH на контракт</a>
                    <a onclick="windowShow(document.querySelector('.withdrawETH'))">Снять ETH с контракта</a>
                </div>
            </div>

            {% elif role == 5 %}
                <div class="dropdown">
                <a>Страховая - Панель</a>
                <div class="dropdown-content">
                    <a onclick="windowShow(document.querySelector('.sendETH'))">Перевести ETH на контракт</a>
                    <a onclick="windowShow(document.querySelector('.withdrawETH'))">Снять ETH с контракта</a>
                </div>
            </div>
            {% endif %}
        {% endif %}

        {% if islogIn %}
            {% if session_role == 2 %}
                <a onclick="windowShow(document.querySelector('.resetRole'))">Смена роли</a>
            {% endif %}
            <a href="/logout/">Выйти</a>
        {% else %}
            <a onclick="windowShow(document.querySelector('.register'))">Регистрация</a>
            <a onclick="windowShow(document.querySelector('.logIn'))">Войти</a>
        {% endif %}
    </div>
</header>
<body>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <div class="copy">
        Самара Гальцев, Дорогавцев 2020
    </div>
</footer>
<script type="text/javascript">
    let window_show = false
    let old_window

    function windowShow(window){
        if (old_window){
            window_show = false
            old_window.style.display = 'none'
            old_window.style.overflow = 'auto'
        }

        if (window_show){
            window_show = false
            window.style.display = 'none'
            window.style.overflow = 'auto'
        } else {
            window_show = true
            window.style.display = 'flex'
            window.style.overflow = 'hidden'
        }
        old_window = window
    }

</script>
{% if logIn == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.logIn'))
    </script>
{% elif register == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.register'))
    </script>
{% elif registerWallet == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.registerWallet'))
    </script>
{% elif addRiderLicence == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addRiderLicence'))
    </script>
{% elif addCategoryRiderLicence == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addCategoryRiderLicence'))
    </script>
{% elif resetInfo == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.resetInfo'))
    </script>
{% elif addInsurence == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addInsurence'))
    </script>
{% elif addDps == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addDps'))
    </script>
{% elif removeDps == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.removeDps'))
    </script>
{% elif addRiderLicenceToBase == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addRiderLicenceToBase'))
    </script>
{% elif addDtp == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addDtp'))
    </script>
{% elif info == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.info'))
    </script>
{% elif acceptRiderLicenses == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.acceptRiderLicenses'))
    </script>
{% elif sendETH == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.sendETH'))
    </script>
{% elif payFine == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.payFine'))
    </script>
{% elif resetRole == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.resetRole'))
    </script>
{% elif withdrawETH == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.withdrawETH'))
    </script>
{% elif acceptNewCategory == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.acceptNewCategory'))
    </script>
{% elif addCar == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.addCar'))
    </script>
{% elif infoInsurence == True %}
    <script type="text/javascript">
        windowShow(document.querySelector('.infoInsurence'))
    </script>
{% endif %}
</html>